<div class="row">
	<div class="btn-group mx-auto m-3">
		<%# <button type="button" class="btn ft-button active">
			PHOTO
		</button> %>
		<%= link_to('PHOTO', user_discover_path(status: 'photo'), class: "btn ft-button", type: "button") %>

		<%# <button type="button" class="btn ft-button">
			ALBUM
		</button> %>
		<%= link_to('ALBUM', user_discover_path(status: 'album'), class: "btn ft-button active", type: "button") %>
	</div>
</div>