<div class="row">
	<div class="btn-group mx-auto m-3">
		<%= link_to('PHOTO', user_discover_path(status: 'photo'), class: "btn ft-button", type: "button") %>
		<%= link_to('ALBUM', user_discover_path(status: 'album'), class: "btn ft-button ft-button-active", type: "button") %>
	</div>
</div>